body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li {
  list-style: none;
}
h1{
  font-size: 52px !important;
  font-weight: bold !important;
  color: white !important;
}
h3{
  font-size: 24px !important;
  font-weight: 600 !important;
  color: #B6B6B6;
}
p{
  font-size: 18px !important;
  color: white;
}
.d-flex{
  display:flex !important;
}
.row {
  flex-direction: row;
}
.col {
  flex-direction: column;
}
.w-100{
  width: 100% !important;
}
.chakra-button:focus {
  box-shadow: none !important;
}
.primary-btn{
  font-size: 16px !important;
  font-weight: bold !important;
  padding: 10px 15px !important;
  background-color: #c4c4c42a !important;
}
.text-input {
  background-color: #c4c4c42a !important;
  color: #fff !important;
  border: none !important;
  font-size: 12px !important;
}
.text-input :focus{
  border: none !important;
  box-shadow: none !important;
}
.border-none{
  border: none !important;
  box-shadow: none !important;
}
#login-layout{
  height: 100vh;
  background-position: center;
  background-size: cover;
  
  /* position: absolute;
left: 0px;
right: -260px;
top: 0px;
bottom: 0px; */
}

#login-layout > img {
  position: absolute;
  margin: 0 50%;
  height: 40px;
  top: 53px;
}
#login-container{
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 80px;
  max-width: 465px;
  width: 100%;
}
/* #login-container h1{
  font-size: 52px;
  font-weight: bold;
  color: white;
} */
/* #login-container p{
  color: white;
  font-size: 18px;
} */
#panel-layout{
  padding: 0 41px 0 80px !important;
}
#panel-container{
  
  padding-right: 39px !important;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 20px;
  z-index: 3;
  position: relative;
}
.nav-logo > img {
  height:   22px;
  margin-right: 2px;
}
.nav-logo > img ~ img {
  height: 22px;
}
.nav-search {
  max-width: 463px;
  flex:1;
}
.nav-username p{
  color: #fff;
  font-size: 24px;
}
.introduct-bg{
  height: 100vh;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  z-index: -2;
  background-repeat: no-repeat;
  background-size: cover;
}
.introduct-pass{
  position: absolute;
  width: 100%;
  height: 330px;
  left:0;
  right: 0;
  top: calc(100vh - 330px);

background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: -1;
}

.introduct{
  padding-top: 208px;
  z-index: 1;

}
.introduct-content {
  max-width: 582px;
  color: #fff;
}
.introduct-tag {
  background-color: rgba(29,29,29, .5);
  width: fit-content;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
  color: #fff;
  font-size: 12px !important;
  padding: 4px 8px;
}
.introduct-rating{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.introduct-rating svg {
  font-size: 21px;
  margin-right: 5px;
}
.introduct-explain{
  margin-top: 16px;
}
.introduct-button{
  margin-top: 16px;
}
.explore {
  margin-top: 126px;
}
.movies{
  justify-content:space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}
.movie-card {
  width: 300px;
  margin: 0 15px;
  margin-bottom:80px;
}
.movie-card-info{
  margin-top: 12px;
  align-items: center;
  justify-content: space-between;
}
.movie-card-info p {
  font-size: 12px !important;
  color: #828282;
}
.pagination{
  max-width: 700px;
  margin: 0 auto;
  justify-content: space-between !important;
  align-items: center;
  margin-top: 130px;
  margin-bottom: 108px;
}
.pagination ul{
  justify-content: space-between !important;
  align-items: center;
  width: 100%;
  margin: 0 50px;
}
.pagination-page-btn {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.1568) 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  font-size: 24px !important;
  cursor: pointer;
}
.pagination-page-btn-selected {
  font-size: 32px !important;
  color: white !important;
  -webkit-text-fill-color:unset;
  background: none;
}
/* .pagination-page-btn:focus {
  box-shadow: none !important;
} */
.pagination-arrow{
  background-color: rgba(196, 196, 196, 0.3)  ;
  font-size: 24px !important;
  font-weight: bold !important;
}
.side-bar {
  position: absolute;
  width: 104px;
  height: 100vh;
  top: -20px;
  right: -41px;
  background: rgba(29, 29, 29, 0.5);
  backdrop-filter: blur(24px);
  padding-top: 50px;
  align-items: center;
  justify-content: space-between;
}
.side-bar .bar-options {
  position: absolute;
  justify-content: space-between;
  height: calc(100vh/2);
  top: calc(100vh / 4);
  
}
.movies-results{
  text-align: center;
  margin-top: 80px;
}
.title-hr {
  margin-top: 15px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}
@media only screen and (max-width: 768px) {
  #login-container{
    margin-left: 0;
    transform:none;
    top: 0;
    position: relative;
    padding:20px 12px 0 12px ;
  }
  #login-layout > img {
    bottom: 53px;
    top: auto;
  }
  .introduct-bg{
    left: -100%;
  }
  #panel-container{
    padding-right: 0 !important;
  }
  #panel-layout{
    padding: 0 15px !important;
  }
  .nav-username{
    display: none;
  }
  .nav-search{
    position: absolute;
    top: 50px;
    width: 100%;
  }
}